@inject HttpClient Http

<h3>Lead Queue</h3>

@if (Leads == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                 <th></th>
                <th><i class="oi oi-person"></i></th>
                <th><i class="oi oi-globe"></i></th>
                <th><i class="oi oi-info"></i></th>
                <th><i class="oi oi-envelope-closed"></i></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lead in Leads)
            {
                <tr>
                    <td> </td>
                    <td><a href="#">@lead.FirstName @lead.LastName</a></td>
                    <td>@lead.CompanyName</td>
                    <td>@lead.LeadDescription</td>
                    <td>@lead.CustomerEmail</td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private static List<Lead> Leads = new List<Lead>();

    protected override async Task OnInitializedAsync() //once component is rendered
    {
        var result = await Http.GetFromJsonAsync<List<Lead>>("api/Lead");
        if (result != null)
        {
            Leads = result;
        }
        
    }
}
